//NAVBAR

$navbar-bg-color: #cd6554;
$navbar-link-color: white;
$navbar-hover-color: rgba(255, 255, 255, 0.8);

.navbar {
  background-color: $navbar-bg-color !important;
}

.navbar-brand {
  color: $navbar-link-color !important;
  font-weight: bold;

  &:hover {
    color: $navbar-hover-color !important;
  }
}

.nav-link {
  color: $navbar-link-color !important;
  font-size: 1rem;

  &:hover {
    color: $navbar-hover-color !important;
  }
}

.navbar-toggler-icon {
  background-color: $navbar-link-color !important;
}

.nav-dropdown-toggle {
  color: $navbar-link-color !important;
  &:hover {
    color: $navbar-hover-color !important;
  }
}

.nav-dropdown-item {
  color: $navbar-link-color !important;
  &:hover {
    background-color: $navbar-hover-color;
  }
}

.navbar-light .navbar-toggler-icon {
  background-color: $navbar-link-color !important;
}

// HERO

$hero-bg-image: url("../images/hero.jpg.webp");
$hero-text-color: #ffffff;
$hero-overlay-color: rgba(0, 0, 0, 0.5);

.hero {
  background-image: $hero-bg-image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
    color: $hero-text-color;
  }

  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .hero-btn {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    background-color: #cd6554;
    border: none;

    &:hover {
      background-color: darken(#cd6554, 10%);
    }
  }
}

// CARD

.minimalist-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #cd6554;
    margin-top: 15px;
  }

  svg {
    color: #cd6554;
  }
}

.square-card {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;

  .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

// h2 {
//   font-size: 2.5rem;
//   font-weight: 600;
//   color: #cd6554;
//   margin-bottom: 30px;
// }

// welcome
.text-center {
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
}

// card container style
.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}
